/*.container {
  display: flex;
  justify-content: center;
}*/
.instrument-row {
	display: flex;
}

.instrument-label {
  width: 75px;
}

#bpm {
	width: 50px;
}

.pad {
  margin: 5px;
}

.grid {
	width: 1500px;
}

.beat-group:nth-child(even) {
	background: #577777;
}

.beat-group:nth-child(odd) {
	background: #F2DCCA;
}

#swing, #num-bars {
	width: 30px;
}

